html {
  scroll-behavior: smooth; 
      }
body {  
  font-family: "Ysabeau SC", "Open Sans", "Roboto", sans-serif;
}
.nav-list {
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: #213b28;
  }
.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto;
  padding: 0 20px;
  line-height: 50px;
}
.name {
  font-size: 36px;
  color: #213b28;
  line-height: 0.5;
  text-align:center
}
.profession {
  font-size: 28px;
  color: #213b28;
  line-height: 0.5;
  text-align:center
}
.main_container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container_leftside{
  width: 40%;
  float:left;
}
.container_rightside{
  width: 60%;
  float:right;    
}
.summary{
  text-align: center;
} 
.progress-HTML{
  background: #f5d4d4 linear-gradient(to right, #213b28 var(--point), transparent var(--point));
  color: #213b28;
  text-align: center;
  font-size: 16px;
}
.progress-CSS{
  background: #f5d4d4 linear-gradient(to right, #213b28 var(--point), transparent var(--point));
  color: #213b28;
  text-align: center;
  font-size: 16px;
}
.progress-JavaScript{
  background: #f5d4d4 linear-gradient(to right, #213b28 var(--point), transparent var(--point));
  color: #213b28;
  text-align: center;
  font-size: 16px;
}
.pre{
  padding: 0;
  margin: 0;
  font-size: 16px;
}
h2{
  text-align: center;
  font-size:32px;
  font-family: "Roboto", sans-serif;
}
p{
  text-align:center;
  font-size: 20px;
  margin: 20px;
}
.about-me{font-size: 20px;}
li{
  text-align:left;
  font-size: 20px;
}
.footer{
  padding: 20px;  
}
  
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  }
.item-links{
  text-decoration:none;
  color: black;
}
.footer_rs-school-links{
  width: 121px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('assets/img/rs_school_js.png');
}
* {
    box-sizing: border-box;
  }